/* Create Flex Classes */

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

h1 {
  font-size: 6vmin;
}

h2 {
  font-size: 4vmin;
  margin: 0 0 1vmin 0;
}

h3 {
  font-size: 2.5vmin;
  margin: 2vmin 0 -2vmin 4vmin;
}

h4 {
  font-size: 2.5vmin;
  width: 18vmin;
  text-align: end;
  line-height: 2.5vmin;
}

button:hover {
  cursor: pointer;
}

.display {
  display: grid;
  grid-template-columns: 4vmin 1fr;
  grid-template-rows: 4vmin 1fr;
  margin-bottom: 3vmin;
  font-size: 2vmin;
}

.col-headers {
  display: grid;
  grid-template-columns: repeat(10, 5vmin);
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  text-align: center;
  line-height: 5vmin;
}

.row-headers {
  display: grid;
  grid-template-rows: repeat(10, 5vmin);
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  line-height: 5vmin;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 5vmin);
  grid-template-rows: repeat(10, 5vmin);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 0.3vmin solid #01497c;
  margin-top: 0.5vmin;
}

.board > div {
  border: 0.1vmin solid #81c3d7;
  text-align: center;
  line-height: 5vmin;
  font-size: 3vmin;
  font-weight: 900;
}

.flex-ctr-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colors {
  margin: 0 2vmin 0 1.5vmin;
  height: 2vmin;
  width: 2vmin;
}

.missedMark {
  color: gray;
}

.hitMark {
  color: red;
}

#div-line {
  border: 0.25vmin solid black;
  margin: 3vmin 0 3vmin 4vmin;
  width: 60%;
}

#ship-list {
  display: flex;
  flex-direction: column;
}

#ship-list > section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5vmin;
}

#ship-list > section > button {
  font-size: 2vmin;
  font-weight: 500;
  width: 12vmin;
  padding: 0.5vmin;
  margin: 0 1vmin;
}

#play-again {
  margin: 5vmin 0 0 0;
  padding: 1vmin 3vmin;
  font-size: 2vmin;
  border-radius: 1vmin;
}
